<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/ship.css">
    <title>Games</title>
</head>
<body>

<div id="app" >
<div v-cloak class="structureGames" >

    <div class="formLogin">
        <form onsubmit="return false" v-show="!log" class="login">
            <p> Introduce email <input type="text" id="userLog"> </p>
            <p> Introduce password <input type="password" id="pwdLog"> </p>
            <input type="submit" value="Log in" class="buttonLog" @click="logIn">
            <input type="submit" value="Sign Up" class="buttonLog" @click="register">
       </form>

        <div v-show="log"  class="login">
        <p v-if="userNameLogin!= null"> Welcome {{userNameLogin.playerEmail}}!!!
        </p>
            <input type="submit" value="Log Out" class="buttonLog" @click="logOut">
        </div>
    </div>


    <div  class="listGames">

        <ul v-for="game in gamesJsn.games">
            <li>
                <span> Game </span>{{game.gameId}} <span>Date Created: </span>{{game.gameCreated}}<span v-if="game.gamePlayers.length ==1"> <span> GamePlayers: </span>{{game.gamePlayers[0].players.playerEmail}}</span>
                <span v-else> <span> GamePlayers: </span>{{game.gamePlayers[0].players.playerEmail}}<span> vs </span> {{game.gamePlayers[1].players.playerEmail}}</span></li>
        </ul>
    </div>

    <div class="tableScore">
        <table class="table table-bordered">
            <thead>
                <tr class="cellPosition">
                    <td> Player </td>
                    <td> Total Points</td>
                    <td> Total Wins</td>
                    <td> Total Ties</td>
                    <td> Total Lost</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for =" player in rankedPlayersJsn">
                    <td> {{player.playerEmail}}</td>
                    <td class="cellPosition"> {{player.totalPoints}}</td>
                    <td class="cellPosition"> {{player.totalWins}}</td>
                    <td class="cellPosition"> {{player.totalTies}}</td>
                    <td class="cellPosition"> {{player.totalLosers }}</td>
                </tr>
            </tbody>


        </table>
    </div>
</div>
</div>

<script src="scritps/games.js"></script>
</body>
</html>