<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/ship.css">
    <title>Game</title>
</head>
<body>


<div id="app" v-cloak class="structureGame">

    <div class="playersTittle" v-if="gameJsn.length!=0">
        <h2> Game {{gameJsn.gameId}}</h2>
        <div v-if="gamePlayers.length == 1">
            <h3> {{meInfo.players.playerEmail}} (the grid is yours) </h3>
        </div>
        <div v-else><h3> {{meInfo.players.playerEmail}} <span> (the grid is yours) </span> <span> vs </span>
            {{oponentInfo.players.playerEmail}}</h3>
        </div>
    </div>

    <template>
        <div v-for="game in gameJsn.gameId" class="tableOne">
            <table class="table table-bordered">
                <thead>
                <td></td>
                <td v-for="number in numbers" class="cellSpace">{{number}}</td>
                </thead>
                <tbody>
                <template v-for="letter in letters">
                    <tr>
                        <td class="cellSpace"> {{letter}}</td>
                        <td v-for="number in numbers" :id="letter+number" :class="addClassToCell(letter+number)" ></td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
    </template>




</div>

<script src="scritps/game.js"></script>
</body>
</html>