[v-cloak] {
    display: none;
}

/*----------gamE.html----------*/
.structureGame{
    display:grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 20% 20% 60%;
    height: 100vh;
}

.tableOfWar{
    border: 1px solid black ;
    height:80%;
    width: 100%;
}
.playersTittle{
    grid-column: 2/4;
    grid-row: 2;
    text-align: center;
}

.tableOne{
    grid-column: 2/3;
    grid-row: 3;
}

.cellSpace{
    text-align: center;
    border: 1px solid black ;
    width: 43px;
}

.carrier {
    background-color: blue;
}
.battleship{
    background-color: blueviolet;
}
.submarine{
    background-color: forestgreen;
}
.destroyer{
    background-color: chartreuse;
}
.patrolBoat{
    background-color: darkslategrey;
}
.shotImpact{
    background-color: red;
    border-radius: 50px;
    z-index:1;
}
.shotFail{
    background-color: deepskyblue;
}

/*----------gameS.html----------*/
.structureGames{
    display:grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 10% 25% 15% 50%;
    height: 100vh;
}

.listGames{
    grid-column: 2/4;
    grid-row: 2;
}

.formLogin{
    flex-wrap: nowrap;
    grid-column: 2/4;
    grid-row: 1;
    padding:1em;
}

.login{
    display:flex;
    /*flex-direction: space;*/
}

.buttonLog{
    background: brown;
    color:white;

}

.login p{
    margin-right: 2em;
}

.tableScore{
    grid-column:2/4;
    grid-row: 4;
}

.cellPosition{
    text-align: center;
}
